name: CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: yarn install
    - name: run project
      run: yarn start
    - name: Run the tests
      run: yarn run test
    - name: Build
      run: yarn build
    - name: deploy-netlify
      run: curl -X POST -d {} https://api.netlify.com/build_hooks/6044f7245caa14d01598216e